<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taozi.mapper.CategoryMapper">

    <select id="findAll" resultType="com.taozi.entity.Category">
        SELECT * FROM category ORDER BY id
    </select>

    <select id="findById" resultType="com.taozi.entity.Category">
        SELECT * FROM category WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.taozi.entity.Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (name, description) VALUES (#{name}, #{description})
    </insert>

    <update id="update" parameterType="com.taozi.entity.Category">
        UPDATE category SET name=#{name}, description=#{description} WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM category WHERE id=#{id}
    </delete>

</mapper>
